.r-div {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.review-card{
    border: 3px solid rgb(233, 123, 27);
    border-radius: 5px;
    margin: 10px;
    width: 25%;
    padding: 15px;
    background-color: #FFFFFF;
}
.rev-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    justify-content: center;
    
    /* border: 3px solid black; */
}
#rev-form {
    margin: 25px 10px;
}
.each-review{
    border: 3px solid rgb(244, 203, 134);
    padding: 5px;
    margin: 5px;
    color: rgb(148, 69, 0);
}
.rev-name{
    color: rgb(77, 32, 4);
}