.manga-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-content: center;
  align-items: center;
  
}
.card-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 20px;
  justify-content: center;
}
.card {
  border: 3px solid #FE7E6D;
  border-radius: 5px;
  height: 50%;
  box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
  margin: 15px;
  width: 25%;
  padding: 15px;
  background-color: #FFFFFF;
  color: black;
}
.card:hover{
  transform: scale(1.08);

}
.card-img{
    height: 120px;
    width: 100%;
    border-radius: 5px;
    
}
.card-body {
  border: 3px solid rgb(226, 165, 95);
  border-radius: 5px;
  padding: 15px;
  margin-top: 10px;
  
}
.card-title{
  color: rgb(90, 47, 23);
  margin-bottom: 0;
}
/* Buttons */
.btn{
  margin: 8px 3px;
}
#like-btn {
  background-color: rgb(50, 150, 50);
  border-radius: 5px;
}


#like-btn:hover{
  background-color: rgb(104, 233, 130);
}
#delete-btn{
  background-color: rgb(194, 81, 81);
  border-radius: 5px;
}
#delete-btn:hover{
  background-color: rgb(225, 35, 66);
}
#rate-btn{
  padding: 7px;
  background-color: #848ed8;
  border-radius: 5px;
  text-decoration: none;
  
}

  
