.container{
    width: 100%;
    height: 120vh;
    overflow:hidden;
    margin: 10px;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: aqua;
    background-image: url("https://images.unsplash.com/photo-1613376023733-0a73315d9b06?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80");
    
}
footer {
  margin: 30px;
  border: 3px rgb(172, 38, 38) solid;
 
}
.title-text {
    color: rgba(223, 43, 43, 0.817);
    font-style: italic;
}
.upper-div{
  margin: 20px;

}
.lower-div{
  width: 50%;
  height: 50%;
  margin: 20px; 
  position: absolute;
  right: 0;
  top: 150px;

}
.home-pg {
  margin: 20px;
  padding: 15px;
  border: 3px solid rgb(171, 121, 36);
  border-radius: 5px;
  color: rgb(29, 29, 38);
  font-size: large;
  font-weight: bold;
  font-style: oblique;
  background-color: antiquewhite;
  opacity: 0.8;
}
.img-container{
  margin: 30px;
  
}
  
/* Alternating Images */
.home-img{
    position: absolute;
    height: 400px;
    width: 400px;
    top: 180px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-animation: fade 24s infinite;
    animation: fade 24s infinite;
}
#pic1 {
    animation-delay: 0s;
}
#pic2 {
    animation-delay: 3s;
}
#pic3 {
    animation-delay: 6s;
}
#pic4 {
    animation-delay: 9s;
}

@-webkit-keyframes fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fade {
    0% {
      opacity: 1;
    }
    20% {
      opacity: 1;
    }
    34% {
      opacity: 0;
    }
    88% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  /* Buttons CSS */
  #button-3 {
    overflow: hidden;
    cursor: pointer;
    padding: 10px;
    width: 150px;
    border: 3px solid rgb(171, 121, 36);
    background-color: rgb(228, 195, 111);
    padding: 10px;
    margin: 20px 20px;

  } 

  #button-3 a {
    transition: all .45s ease-Out;
  }
  
  #circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: #e4dd92;
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
  }
  
  #button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
  }
  
  #button-3:hover a {
    color: #d0ca8a;
  }