.nav-bar {
    display: flex;
    background-color: rgb(245, 167, 49);
    padding: 15px;
    justify-content: space-between;
}
.nav-links {
    display: flex;
    justify-content: center;
    width: 65%;
}
.nav-links li {
    display: inline;
    padding: 10px;
    float: left;
}
